/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
html {
	box-sizing: border-box;
}
body {
}

.reveal .copyright {
    position: absolute;
    bottom: 0;
	font-size: small; /* Set font size to small */
	left: 0; /* Align to the left edge */
    width: auto; /* Adjust the width as needed */
    text-align: center;
    color: black; /* And the text color */
	height: 30px;
}

.reveal .copyright p {
    margin: 0;
    display: inline-block;
}

.reveal .copyright img {
    height: 30px; /* Adjust the size of the image */
    vertical-align: middle;
    margin-left: 10px;
}



.reveal .slides section {
	text-align: left;
}
.reveal {
	border: 35px solid #00000000;/* #ecedf3;*/
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	position: relative;
	/* The rest of your body styles */

}
.grid-container {
	min-height: 95vh;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 13% 13% 74%;

	grid-gap: 10px;
	padding: 10px;
	background-color: #f4f4f4;
}
.grid-mappingcanvas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #004688;
	color: white;
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
}
.mappingcanvas1 {
	background-color: #004688;
	grid-column: 1 / span 2;
	grid-row: 1;
}
.mappingcanvas2 {
	background-color: #59c3d5;
	grid-column: 1 / span 2;
	grid-row: 2;
}
.mappingcanvas3 {
	background-color: #004688;
	grid-column: 3 / span 2;
	grid-row: 1 / span 2;
}
.mappingcanvas4 {
	grid-column: 5 / span 2 ;
	grid-row: 1 / span 2;
	background-color: #59c3d5;
}
.mappingcanvas5 {
	background-color: #004688;
	grid-column: 1 / span 2;
	grid-row: 3;
}
.mappingcanvas6 {
	grid-column: 3 / span 4;
	grid-row: 3;
	background-color: #59c3d5;
}

.reMarkable {
	position: relative; /* or absolute, depending on your layout */
	top: 50%;
	/* height: 75.16%; */ /* Full viewport height */
	/* padding-top: 75%; */
	width: 100%;
	max-height: 50vh;
	max-width: 100vw;
	margin-top: 1vh;    /* Margin at the top */
	//background-color: #f0f0f0; /* Example background color */
	//border: 1px solid #000000; /* Add a black border */
	/* You can change the border width and color as needed */
	/* Add more styling as needed */
	display: flex; /* Added flexbox */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
}

.footer-text {
	position: absolute;
	bottom: 0px;
	right: 50px; /* 20px from the right edge */
	transform: translateY(-80%);
	font-size: 18px;
	z-index: 2;
	font-family: Outfit;
	color: #0d2356
}

.header-tete {
	position: absolute;
	left: 28px; /* 20px from the right edge */
	top: 40px; /* 20px from the right edge */
	width: 60px;
	font-size: 18px;
	z-index: 2;
	font-family: Outfit;
	color: #0d2356
}


.better-way {
	position: absolute;
	left: -205px;
	top: 70%;
	transform: rotate(270deg);
	transform-origin: center;
	font-size: 16px;
	z-index: 2;
	font-family: Outfit;
	color: #0d2356;
}



.row {
	display: flex;
}

.column {
	/* flex: 50%; */
	flex: 1;
	padding: 10px; /* Optional for spacing */
}

.column img {
	width: 100%; /* Make the image responsive */
	height: auto;
}
.square {
	position: relative;
	width: 100%;
}

.square:before {
	content: '';
	display: block;
	padding-top: 100%; /* Initial ratio of 1:1*/
}

.square img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vh;
	height: 100vh;
	object-fit: cover; /* This will cover the whole area */
}
.split-layout {
	display: flex;
	justify-content: space-between;
}

.split-left, .split-right {
	width: 45%; /* Adjust the width as needed */
	padding: 10px; /* Optional, for some spacing */
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #0d2356ff;
$headingColor: #0d2356ff;

$mainFontSize: 42px;
$mainFont: Outfit, 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: Outfit, 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: none;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
