/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
html {
	box-sizing: border-box;
}
body {
}
.reveal {
	border: 50px solid #ecedf3;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	position: relative;
	/* The rest of your body styles */

}

.reMarkable {
	position: fixed; /* or absolute, depending on your layout */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%); /* Center the div */
	height: 100vh; /* Full viewport height */
	width: 73.1vh;
	background-color: #f0f0f0; /* Example background color */
	border: 1px solid #000000; /* Add a black border */
	/* You can change the border width and color as needed */
	/* Add more styling as needed */
}

.footer-text {
	position: absolute;
	bottom: 0px;
	right: 50px; /* 20px from the right edge */
	transform: translateY(-80%);
	font-size: 18px;
	z-index: 2;
	font-family: Outfit;
	color: #0d2356
}

.header-tete {
	position: absolute;
	left: 10px; /* 20px from the right edge */
	top: 7px; /* 20px from the right edge */
	width: 40px;
	font-size: 18px;
	z-index: 2;
	font-family: Outfit;
	color: #0d2356
}


.better-way {
	position: absolute;
    left: -45px;
    top: 50%;
    transform: rotate(270deg);
    transform-origin: center;
    font-size: 18px;
    z-index: 2;
    font-family: Outfit;
    color: #0d2356;
}



.row {
	display: flex;
}

.column {
	/* flex: 50%; */
	flex: 1;
	padding: 10px; /* Optional for spacing */
}

.column img {
	width: 100%; /* Make the image responsive */
	height: auto;
}
.square {
	position: relative;
	width: 100%;
}

.square:before {
	content: '';
	display: block;
	padding-top: 100%; /* Initial ratio of 1:1*/
}

.square img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vh;
	height: 100vh;
	object-fit: cover; /* This will cover the whole area */
}
.split-layout {
  display: flex;
  justify-content: space-between;
}

.split-left, .split-right {
  width: 45%; /* Adjust the width as needed */
  padding: 10px; /* Optional, for some spacing */
}



// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #0d2356ff;
$headingColor: #0d2356ff;

$mainFontSize: 42px;
$mainFont: Outfit, 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: Outfit, 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
